__pycache__/

.python-version
.vscode

_/
TODOs.md

demo/on-computable-numbers/output-from-official-app-for-comparison/
demo/on-computable-numbers/1936\ On\ Computable Numbers\,\ with\ an\ Application\ to\ the\ Entscheidungsproblem\ -\ A\.\ M\.\ Turing/
demo/on-computable-numbers/1936\ On\ Computable Numbers\,\ with\ an\ Application\ to\ the\ Entscheidungsproblem\ -\ A\.\ M\.\ Turing\ \_remarks.pdf